.footer img{
    width: 80px;
}
.footer{
    background: rgb(255, 254, 254);
    padding: 2rem 0;
    width: 100% !important;
    overflow: hidden;

}
.socials{
  justify-content: space-around;
  padding: 10px;
  font-size: 1.5rem;
}
.socials .icon{
    font-size: 3rem;
    color: rgb(56, 55, 55);

}
.footerLinks{
    display: block;
    /* padding: 5px; */
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    /* gap: 1rem; */
}

.footerLinks span {
    display: block;
    font-size: 20px;
    text-align: center;
}  
.phone{
    color: rgb(177, 217, 217);
}
@media screen and (min-width: 769px) {
    .footerLinks{
        padding-top: 1.5rem;
    }
}